/* tablet */
@media (max-width: 1024px) {
  .offers {
    flex-direction: column;
  }
  .offers aside {
    width: 100%;
  }

  .mostpop-container {
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
  }
  .activities-container {
    flex-wrap: wrap;
  }

  .activity-card .container-img {
    height: 200px;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .container {
    padding: 0;
  }
  header {
    flex-direction: column;
  }
  header nav {
    width: 100%;
  }
  header nav li {
    margin: 0;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid var(--grey-light);
    transition: border 0.2s ease-in;
  }
  header nav li:hover {
    border-bottom: 2px solid var(--blue);
  }
  header nav a {
    border-top: 0;
  }
  header nav a:hover {
    border-top: 0;
  }
  .infogroup form button {
    border-radius: 15px;
    position: absolute;
    right: -10px;
  }
  .infogroup form button i {
    display: block;
    line-height: 1.2;
  }
  .infogroup form button span {
    display: none;
  }
  .filter-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .card-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .offer-card,
  .mostpop-card,
  .activity-card {
    max-width: none;
    width: 100%;
  }
  .infogroup {
    padding: 30px 20px 35px;
  }
  .offers {
    flex-direction: column-reverse;
  }
  .offers main,
  .offers aside {
    padding: 20px;
  }
  .activity-card {
    flex: none;
  }
  .mostpop-container {
    flex-direction: column;
  }
  .activities-container {
    gap: 15px;
  }
  footer div {
    flex-direction: column;
    padding: 30px;
    gap: 50px;
  }
  footer.container {
    padding: 0;
  }
  footer ul {
    padding: 0;
  }
}
